// 主色调
$GLOBAL_COLOR: #31C27C;

.center-transform {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center-transform-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.center-transform-y {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.center-margin {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.center-margin-x {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.center-margin-y {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}

.hand {
  cursor: pointer;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clear {
  &::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    clear: both;
  }
}

